/* start share common style */
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
.primary-button{
    padding: 12px 25px;
    background-color:#E55473; 
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
}
/* End share common style */

/* Start banner Style */
header{
    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    height: 100vh;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.banner-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 25px 0px;
}

.banner-content{
    max-width: 40%;
    margin-left: 10%;
}

.banner-img{
    height: 100vh;
    margin-right: 10%;
}

/* End banner Style */
/* Start Featured Style */
.featured-container{
    height: 100vh;
}
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 100px;
}
.featured-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 25px 0px;
}
.featured-all-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 75%;
    gap: 35px;
    padding-top: 50px;
}
.featured-box{
    background-color: rgba(167, 33, 98, 0.15);    
    border-radius: 300px 300px 0px 0px;
    width: 300px;
    height: 400px;
    padding: 25px 25px 0px 25px;
}
.featured-box2{
    background: rgba(5, 151, 160, 0.15);
}
.featured-box3{

    background: rgba(71, 125, 17, 0.15);
}
.featured-box >img{
    width: 100%;
    height: 100%;
}
.featured-box-detail >h4{
    text-align: center;
    padding-top: 25px;
}
/* End Featured Style */