/* start share common style */
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
.primary-button{
    padding: 12px 25px;
    background-color:#E55473; 
    border: none;
    border-radius: 5px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
/* End share common style */
/* Start header Style */
/* Start banner Style */
header{
    background: rgba(229, 84, 115, 0.10);
    width: 100%;
    height: 100vh;
}
/* Start menubar Style */
.menubar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
    background-color:rgba(229, 84, 115, 0.10); ;
}
.menu-title{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.menu-title >span{
    color: #E55473;
}
.menu-list{
    display: flex;
    align-items: center;
}
.menu-list >ul{
    list-style: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
    font-weight: 700;
    padding-right: 50px;
}
.menu-item{
    padding: 0px 20px;
    cursor: pointer;
}

/* Start menubar Style */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}
.banner-title{
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 25px 0px;
}

.banner-content{
    max-width: 40%;
    margin-left: 10%;
}

.banner-img{
    height: 100vh;
    margin-right: 10%;
}
/* End banner Style */
/* End header Style */
/* Start main style */
/* Start Featured Style */
.featured-container{
    height: 100vh;
    padding-bottom: 300px;
}
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 100px;
}
.featured-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 25px 0px;
}
.featured-all-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 75%;
    gap: 35px;
    padding-top: 50px;
}
.featured-box{
    background-color: rgba(167, 33, 98, 0.15);    
    border-radius: 300px 300px 0px 0px;
    width: 300px;
    height: 400px;
    padding: 25px 25px 0px 25px;
}
.featured-box2{
    background: rgba(5, 151, 160, 0.15);
}
.featured-box3{

    background: rgba(71, 125, 17, 0.15);
}
.featured-box >img{
    width: 100%;
    height: 100%;
}
.featured-box-detail >h4{
    text-align: center;
    padding-top: 25px;
}
/* End Featured Style */
/* Start Hot Deal Sale style */
.sale-container{
    background: rgba(229, 84, 115, 0.10);
    width: 100%;
}
.sale-sub-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 75%;
    margin: auto;
    height:60vh;
    padding: 15px 0px;

}
.sale-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.sale-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding: 25px 0px;
}

.sale-content{
    max-width: 50%;
}
.sale-photo{
    width: 40%;
}
.sale-img{
    width: 250px;
    height: 100%;
}

/* end Hot Deal Sale style */

/* start Instagram images style */
.instagram-container{
    height: 100vh;
    padding-bottom: 100px;
}
.instagram-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 100px;
}
.instagram-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 25px 0px;
}
.instagram-all-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    width: 75%;
    gap: 35px;
    padding-top: 50px;
}
.instagram-box{  
    width: 250px;
    height: 300px;
}
.instagram-box >img{
    width: 100%;
    height: 100%;
}

/* End Instagram images style */
/* Start Subscribe style */
.subscribe-container{
    background-image: url("../asset/rectangle\ 9.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 75%;
    margin: auto;
    margin-bottom: 100px;
    padding: 80px 0px;
    border-radius: 10px;
}
.subscribe-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.subscribe-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding: 15px 0px 30px 0px;
}
.subscribe-email-button{
    text-align: center;
}
.subscribe-email-button >input{
    padding: 18px 300px 18px 20px;
    border-radius: 10px;
    border: none;
    margin-right: 25px;
}
/* End Subscribe style */
/* End main style */
/* Start footer Style */
.footer-container{
    width: 100%;
    height: 50vh;
    background: #111010;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-title{
    color: white;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}
.footer-title >span{
    color: #E55473;
}
.footer-description{
    color: rgba(235, 235, 235, 0.9);
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    padding: 15px 0px;
}
.copyright{
    color: rgba(255, 255, 255, 0.40);
    font-size: 15px;
    font-weight: 400;
}
/* End footer Style */